# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [3]:
import pandas as pd
import seaborn as sns

In [4]:
data = pd.read_csv('./EcommercePurchases.csv')

**Check the head of the DataFrame.**

In [5]:
data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [7]:
data['Purchase Price'].mean()

50.347302

** What were the highest and lowest purchase prices? **

In [8]:
data['Purchase Price'].max()

99.99

In [9]:
data['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [10]:
data[data['Language'] == 'en']['Language'].value_counts()

en    1098
Name: Language, dtype: int64

** How many people have the job title of "Lawyer" ? **

In [11]:
data[data['Job'] == 'Lawyer']['Job'].value_counts()

Lawyer    30
Name: Job, dtype: int64

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [12]:
a = data[data['AM or PM'] == 'AM']['AM or PM'].value_counts()
print (a)
b = data[data['AM or PM'] == 'PM']['AM or PM'].value_counts()
print (b)

AM    4932
Name: AM or PM, dtype: int64
PM    5068
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [13]:
data['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [14]:
data[data['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [15]:
data[data['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [16]:
sum(data[data['Purchase Price'] > 95]['CC Provider'] == 'American Express')

39

** Hard: How many people have a credit card that expires in 2025? **

In [17]:
expirationYear = data['CC Exp Date'].str[3::]
print (expirationYear)

0       20
1       18
2       19
3       24
4       25
5       25
6       24
7       25
8       24
9       17
10      17
11      26
12      26
13      25
14      22
15      25
16      22
17      26
18      22
19      20
20      22
21      25
22      22
23      23
24      18
25      19
26      19
27      16
28      24
29      22
        ..
9970    19
9971    21
9972    22
9973    19
9974    26
9975    19
9976    21
9977    21
9978    21
9979    23
9980    24
9981    19
9982    18
9983    23
9984    21
9985    21
9986    18
9987    24
9988    16
9989    23
9990    24
9991    24
9992    20
9993    25
9994    25
9995    22
9996    25
9997    21
9998    17
9999    19
Name: CC Exp Date, Length: 10000, dtype: object

In [18]:
def creditCardExpirationChecker(expirationYear):
    if '25' in expirationYear:
        return True
    else:
        return False

In [19]:
sum(expirationYear.map(creditCardExpirationChecker))

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [20]:
emailHost = data['Email'].str.partition('@')[2].value_counts().head()
emailHost

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: 2, dtype: int64

### Data Visualization

** Implement a bar plot for top 5 most popular email providers/hosts **

In [21]:
emailHostIndex = emailHost.index
emailHostIndex

Index(['hotmail.com', 'yahoo.com', 'gmail.com', 'smith.com', 'williams.com'], dtype='object')

In [23]:
emailHostBooleanIndex = data['Email'].str.partition('@')[2].isin(emailHostIndex)
emailHostBooleanIndex

0        True
1       False
2       False
3       False
4        True
5        True
6        True
7       False
8       False
9       False
10       True
11      False
12       True
13       True
14       True
15       True
16      False
17      False
18       True
19       True
20      False
21       True
22       True
23      False
24       True
25      False
26       True
27       True
28       True
29       True
        ...
9970     True
9971    False
9972     True
9973     True
9974     True
9975    False
9976     True
9977     True
9978     True
9979     True
9980    False
9981    False
9982     True
9983    False
9984    False
9985    False
9986    False
9987    False
9988    False
9989     True
9990    False
9991    False
9992    False
9993    False
9994     True
9995    False
9996     True
9997     True
9998    False
9999    False
Name: 2, Length: 10000, dtype: bool

In [26]:
dataTop5 = data[emailHostBooleanIndex]
dataTop5.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
10,"650 Elizabeth Park\nLake Maria, LA 13526-2530",65 Yn,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...,"Strickland, Michael and Gonzales",180036417827355,02/17,754,Voyager,ustewart@hotmail.com,"Development worker, community",26.59.93.1,el,96.89

** Plot distribution of Purchase Price **

In [ ]:
sns.distplot(data['Purchase Price'], hist = False)

** Implement countplot on Language **

In [ ]:
sns.countplot(x = 'Language', data = data)

# Great Job!